{% extends 'myapp/auditor_base.html' %}
{% load static %}
{% block title %}File Download{% endblock %}
{% block body %}
<center>
    <h1>File Download</h1>
    <div class="container">
    <form role="form" name="frm" action="" method="post">
        {% csrf_token %}
        <br>
        <br>
            <H4>File Decrypted click to download</H4>
        <button type="button" class="btn btn-info" onclick="location.href='../static/myapp/media/{{ fileurl }}'">Download</button>
       </form>
    </div>
    <b>{{msg}}</b>
</center>
{% endblock %}
